.home-container {
    background-image: url('../Assets/purple_bg.png');  
    background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    color: white;  
}

.navbar-container {
    background-color: transparent;  
    padding: 10px 20px;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    position: fixed;  
    top: 0;
    margin-top: 40px;
    width: 100%;  
    z-index: 1000;  
}

.navbar-list {
    display: flex;  
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-list-item {
    padding: 10px 20px;  
    color: white;  
    text-transform: uppercase; 
    cursor: pointer;  
    transition: ease 0.3s;  
    border-radius: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-list-item:hover {
    color: rgb(189, 159, 159); 
    transform: scale(1.05);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.title-container{
    padding: 0%
}

.above-title{
    padding: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 0.783);
}
.title{
    padding: 0%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    

}

.sub-title{
    padding: 0%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.start-button{
    padding: 10px 20px;
    background-color: #993ff980;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: ease 0.3s;

}
.start-button:hover{
    transform: scale(1.05);
    color: rgb(189, 159, 159);
}
